<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous">
        <link rel="stylesheet" href="./assets/style.css">
    </head>
    <body>

        <div id="app" class="vh-100">

            <main id="app_body" class="d-flex">

                <div id="list_user">

                    <div class="list_header d-flex justify-content-between">

                        <div class="avatar d-flex align-items-center p-2">

                            <img width="50" src="./assets/img/avatar_io.jpg"
                                alt="immagine dell'utente"
                                class="rounded-circle">

                            <div class="ms-2">
                                Sofia
                            </div>

                        </div>
                        <!-- /.avatar -->

                        <div
                            class="my_icons d-flex align-items-center gap-3 pe-3">

                            <i class="fa-solid fa-circle-notch"></i>

                            <i class="fa-solid fa-message"></i>

                            <i class="fa-solid fa-ellipsis-vertical"></i>

                        </div>
                        <!-- /.my_icons -->
                    </div>
                    <!-- /.list_header -->

                    <div class="notify d-flex align-items-center ps-3">

                        <div
                            class="bell_icon d-flex justify-content-center align-items-center bg-white rounded-circle">

                            <i class="fa-solid fa-bell-slash"></i>

                        </div>

                        <div class="ms-2">

                            <div>Ricevi notifiche di nuovi messaggi</div>

                            <div>
                                <a href="#" class="text-secondary">Attiva
                                    notifiche desktop</a>
                            </div>

                        </div>

                    </div>
                    <!-- /.notify -->

                    <div class="user_search p-2 d-flex">
                        <button class="d-inline-block bg-white px-4">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>

                        <input type="text" class="w-100 border-0 px-2"
                            placeholder="Cerca o inizia una nuova chat">
                    </div>

                    <div class="user_list">

                        <ul class="list-unstyled">

                            <li v-for="(contact,index) in contacts"
                                @click="setContactActive(index)">

                                <div
                                    class="contact d-flex justify-content-between" :class="contactActive == index ? 'bg_light' : '' ">

                                    <div>

                                        <div
                                            class="avatar d-flex align-items-center p-2">

                                            <img width="50"
                                                :src="contact.avatar"
                                                alt="immagine dell'utente"
                                                class="rounded-circle">

                                            <div class="ms-2">
                                                <div> {{contact.name}} </div>
                                                <div>
                                                    {{contact.messages[contact.messages.length
                                                    - 1].message}}
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /.avatar -->

                                    </div>

                                    <div>12:00</div>

                                </div>
                                <!-- /.contact -->

                            </li>

                        </ul>
                        <!-- /ul -->

                    </div>
                    <!-- /.user_list -->

                </div>
                <!-- /#list_user -->

                <div id="chat">

                    <div class="chat_header d-flex justify-content-between">

                        <div class="avatar d-flex align-items-center p-2">

                            <img width="50" src="./assets/img/avatar_io.jpg"
                                alt="immagine dell'utente"
                                class="rounded-circle">

                            <div class="ms-2">

                                <div>
                                    valerio
                                </div>

                                <div class="text_message">
                                    Ultimo accesso alle ore 12:00
                                </div>
                            </div>

                        </div>
                        <!-- /.avatar -->

                        <div
                            class="my_icons d-flex align-items-center gap-3 pe-3">

                            <i class="fa-solid fa-magnifying-glass"></i>

                            <i class="fa-solid fa-paperclip"></i>

                            <i class="fa-solid fa-ellipsis-vertical"></i>

                        </div>
                        <!-- /.my_icons -->

                    </div>
                    <!-- /.chat_header -->

                    <div class="chat_body">
                        <div class="chat_container">

                            <div v-for="(message,index) in contacts[contactActive].messages"
                                class="col-6 mb-2"
                                :class=" message.status === 'sent' ? 'message_sent' : 'message_received' ">
                                <div class="rounded-2 d-flex flex-column" :class=" message.status === 'sent' ? 'sent' : 'received' ">
                                    <div class="flex-grow-1 pt-2 ps-2">
                                        {{message.message}}
                                    </div>
                                    <div class="message_time d-flex justify-content-end">
                                        {{message.date}}
                                    </div>

                            </div>

                        </div>
                        <!-- /.chat_container -->

                    </div>
                    <!-- /.chat_body -->

                    <div
                        class="chat_footer d-flex justify-content-around align-items-center gap-3 px-3">

                        <i class="fa-regular fa-face-smile"></i>

                        <div class="flex-grow-1 py-2 h-100">

                            <input type="text" placeholder="Scrivi un messaggio"
                                class="w-100 h-100 border-0 rounded-2 px-2 text_message">

                        </div>

                        <i class="fa-solid fa-location-arrow"></i>

                    </div>
                    <!-- /.chat_footer -->

                </div>
                <!-- /#chat -->

            </main>
            <!-- /#app_body -->

            
            <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
            <script src="./assets/main.js"></script>
        </body>
    </html>