/* #region common */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --bz-header: #009688;
    --bz-bg-top: #dddbd1;
    --bz-bg-bottom: #d2dbdc;
    --bz-list-light: #e9ebeb;
    --bz-white: #FFFFFF;
    --bz-light: #eaeaea;
    --bz-success: #D5F9BA;
    --bz-icon: #b1b1b1;
    --bz-primary-light: #8EDAFC;
    --bz-footer-light: #f3eeea;
}

body {
    font-family: Roboto, sans-serif;
}
/* #endregion common */

/* #region app*/
#app::before {
    content: '';
    display: block;
    height: 145px;
    background: var(--bz-header);

}

#app::after {
    content: '';
    display: block;
    height: calc(100% - 145px);
    background: linear-gradient(180deg, #dddbd1, #d2dbdc);
}
#app_body {
    margin: auto;
    height: 95%;
    width: 80%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list_header, .chat_header {
    height: 70px;
    background-color: var(--bz-light);
}

.my_icons i {

    border: none;
    color: var(--bz-icon);
    font-size: 1.25rem;
}

/* #endregion app*/



/* #list_user */
#list_user {
    width: 440px;
}

.list_header {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.user_list ul {
    overflow-y: auto;
}

.notify {
    height: 80px;
    background-color: var(--bz-primary-light);
}

.notify .bell_icon {
    width: 50px;
    aspect-ratio: 1/1;
}

.notify .bell_icon i{
    color: var(--bz-primary-light);
    font-size: 1.75rem;
}

/* /#list_user */



/* #chat */
#chat {
    width: calc(100% - 440px);
}

.chat_body {
    height: calc(100% - 140px);
    background-image: url('../img/mine.jpg');
    overflow-y: auto;
}

.chat_footer {
    height: 70px;
    background-color: var(--bz-footer-light);
}
/* /#chat */

