/* #region common */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --bz-header: #009688;
    --bz-bg-top: #dddbd1;
    --bz-bg-bottom: #d2dbdc;
    --bz-list-light: #e9ebeb;
    --bz-white: #FFFFFF;
    --bz-light: #eaeaea;
    --bz-success: #D5F9BA;
    --bz-icon: #b1b1b1;
    --bz-primary-light: #8EDAFC;
    --bz-footer-light: #f3eeea;
}

body {
    font-family: Roboto, sans-serif;
}
/* #endregion common */

/* #region app*/
#app::before {
    content: '';
    display: block;
    height: 145px;
    background: var(--bz-header);

}

#app::after {
    content: '';
    display: block;
    height: calc(100% - 145px);
    background: linear-gradient(180deg, #dddbd1, #d2dbdc);
}
#app_body {
    margin: auto;
    height: 95%;
    width: 80%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list_header, .chat_header {
    height: 70px;
    background-color: var(--bz-light);
}

.my_icons i {

    color: var(--bz-icon);
    font-size: 1.25rem;
}

button {

    border: none;
    color: #6b7376;
    background-color: transparent;
    font-size: 1.25rem;
}

/* #endregion app*/



/* #list_user */
#list_user {
    width: 440px;
}

.list_header {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.user_list {
    height: calc(100% - 200px);
    overflow-y: auto;
}

.notify {
    height: 80px;
    background-color: var(--bz-primary-light);
}

.notify .bell_icon {
    width: 50px;
    aspect-ratio: 1/1;
}

.notify .bell_icon i{
    color: var(--bz-primary-light);
    font-size: 1.75rem;
}

.user_search {
    background-color: var(--bz-light);
}

.text_message {
    font-size: 12px;
    color: var(--bz-icon);
}

.bg_light {
    background-color: var(--bz-light);
}
/* /#list_user */



/* #chat */
#chat {
    width: calc(100% - 440px);
}

.chat_body {
    height: calc(100% - 70px);
    background-image: url('../assets/img/mine.jpg');
    
}

.chat_footer {
    height: 70px;
    margin-top: 1.4rem;
    background-color: var(--bz-footer-light);
}


.chat_footer i {
    
    font-size: 1.25rem;
    color: #6b7376;
}

.chat_container{
    width: 90%;
    height: 85%;
    padding-top: 3rem;
}


.message_sent {
    margin-left: 50%;
}

.message_sent, .message_received {
    padding: 0 2rem;
}

.received {
    background-color: var(--bz-white);

}

.sent {
    background-color: var(--bz-success);
}

.message_time {
    font-size: 0.6rem;
    padding: 0.1rem;
    color: var(--bz-icon);
}



/* /#chat */

